    /*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/

.statusbar-overlay {
    background: #000000;
}
.imagenInicio{
    margin: 30px auto;
    display: block;   
}
.imagenInicioAlerta{
    margin: 37% auto;
    margin-left: 1% auto;
    display: block;
    position: fixed;
    z-index: 99;
}
.textAlert{
  width: 100%;
  margin: 5px auto;
  font-size: 20px;
  font-weight: 300;
  display: block;
  text-align: center;
  background: rgba(214, 47, 47, 0.767);
  color: #fff;
  border-radius: 0px;
}
.iconAlert{
  width: 80px;
  display: block;
  margin: 20px auto;
  text-align: center;
  font-size: 30px;
  color: rgba(214, 47, 47, 0.767);
}
.item-title{
    font-size: 50px;
}
.titulo1{
    font-size: 40px;
    margin: 60px auto;
    display:block;  
    text-align: center;
    color: #404040;
    font-weight: lighter;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.botonesIndex{
  width: 100%;
  margin: auto;
}
.link{
  border-radius: 100%;
}
.row{
    margin: auto;
    display:block;  
}
.navbar{
    background: #404040;
}

.formulario{
    background: #000000;
}

@font-face {
    font-family: 'Framework7 Icons';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Framework7Icons-Regular.eot");
    src: local('Framework7 Icons'),
       local('Framework7Icons-Regular'),
       url("../fonts/Framework7Icons-Regular.woff2") format("woff2"),
       url("../fonts/Framework7Icons-Regular.woff") format("woff"),
       url("../fonts/Framework7Icons-Regular.ttf") format("truetype");
  }
  
  .f7-icons, .framework7-icons {
    font-family: 'Framework7 Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 28px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    font-feature-settings: "liga";
  }
  .icons {
    overflow: hidden;
  }
  .content .icon-cell .f7-icons {
    cursor: pointer;
  }
  .content {
    padding-bottom: 250px;
  }
  .icons .icon-cell {
    float: left;
    width: calc(100% / 7);
    text-align: center;
    height: 100px;
    margin-top: 30px;
  }
  .icons .icon-name,
  .icons .icon-size {
    display: block;
    font-size: 12px;
    color: #666;
    margin-top: 10px;
  }
  @media (max-width: 960px) {
    .icon-preview {
      left: 0;
      width: 100%;
      margin-left: 0;
    }
  }
  .icon-preview .icons {
    font-size: 0;
    padding-bottom: 10px;
  }
  .icon-preview .icon-cell {
    float: none;
    display: inline-block;
    margin: 0;
    vertical-align: bottom;
    height: auto;
  }
  .icon-preview .icon-preview-name {
    font-size: 18px;
    padding: 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
  }
/* Estilos de el slider del index */;
.demo-swiper .swiper-slide {
    font-size: 25px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #000;
  }
  .demo-swiper .swiper-slide {
    box-sizing: border-box;
    border: 1px solid #ddd;
    background: #fff;
  }
  .demo-swiper {
    margin: 0px 0 35px;
    font-size: 18px;
    height: 120px;
    text-align: center;
  }
  .demo-swiper.demo-swiper-auto .swiper-slide {
    width: 85%;
  }
  .demo-swiper.demo-swiper-auto .swiper-slide:nth-child(2n) {
    width: 70%;
  }
  .demo-swiper.demo-swiper-auto .swiper-slide:nth-child(3n) {
    width: 30%;
  }
    
    .statusbar-overlay {
        background: #000000;
    }
    
    .imagenInicio {
        margin: 30px auto;
        display: block;
    }
    
    .formulario {
        background: #000000;
    }

  .fab-label{
    left: 100%;
    margin-left: 8px;
  }
  
  .material-icons.md-36{
    font-size: 36px;
  }
  .material-icons.md-24{
    font-size: 24px;
  }
  .left{
    left:0.5%;
  }
  .right{
    right:0.5%;
  }
 #bloque-sos{
   margin-top: -5%;
   margin-bottom: 0%;
 }
 #btn-sos{
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background: rgba(219, 0, 0, 0.705);
 }
 #btn-sos-desplegar{
  width: 65px;
  height: 65px;
  border-radius: 100%;
  background: rgba(51, 219, 0, 0.705);
  margin: 3px auto;
  margin-right: 100%;
 }
 #desplegar-btn-gral{
   margin-left: -30px;
 }
 #textBtn{
   font-size: 60px;
 }
 #menu p{
  font-size: 17px;
  font-weight: lighter;
 }
 #fontMenu{
   color: rgba(34, 33, 33, 0.699);
   font-weight: lighter;
 }
 #menu i{
   font-size: 20px;
   color: rgba(34, 33, 33, 0.699);
 }
 #numeros p{
   text-align: left;
   margin-left: 32px;
 }
 
 #phoneEmergency{
   margin-top: 10px;
 }
#map{
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0px; 
}

.texto-centro-alertas{
  font-size: 15px;
  margin-left: 10px;
  font-weight: lighter;
  color: brown;
}
#img-alerta{
  border-radius: 100%;
}
#bloque_persona_alerta{
  margin-top: 25px;
}